<main class="container mt-4">
  <div class="card m-auto" style="width: 20rem;">
      <div class="card-block">
          <h2>New branch</h2>
          <%= render 'form', branch: @branch %>
      </div>
  </div>
</main>