html,
body {
    height: 100%;
    font-family: Roboto;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: 0.5s;
}

#main-nav {
    background: #34495e;
}

#main-nav,
#branch {
    width: 100%;
    margin-left: 0;
    transition: 0.5s;
}

#health {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #333645;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-100%);
}

#health.toggle {
    transform: translateX(0);
}

#health.toggle~#branch,
#health.toggle~#main-nav {
    margin-left: 250px;
}


/* Background Colors */

.bg-white {
    background: #fff !important;
}

.bg-black {
    background: #555 !important;
    /* border-color: #fff !important; */
}

.bg-transparent {
    background: transparent !important;
}

.border-white{
    border-color: #fff !important;
}

/* ---------------------------- Icon Colors --------------------------------*/

.text-green {
    color: #3c763d;
}

.text-yellow {
    color: #8a6d3b;
}

.text-red {
    color: #a94442;
}

.text-black{
    color: #000;
}


/* Custom carousel x-axis */

.overflow-hidden {
    overflow: hidden;
}

.translate-x {
    flex: 0 0 98% !important;
    margin: 0.5rem 1% !important;
    transition: 0.5s;
}


/* Custom Carousel of list-items */

.translate-y {
    flex: 0 0 20%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}


/* Media Queries */

@media (min-width: 768px) {
    #main-nav,
    #branch {
        margin-left: 250px;
        width: auto;
    }
    #health {
        transform: translateX(0);
    }
    #health.toggle {
        transform: translateX(-100%);
    }
    #health.toggle~#branch,
    #health.toggle~#main-nav {
        margin-left: 0;
    }
    .overflow-hidden {
        height: 80vh;
    }
}

@media (min-width: 1200px) {
    .translate-x {
        flex: 0 0 48% !important;
    }
}

@media (min-width: 1440px) {
    .translate-x {
        flex: 0 0 31.33% !important;
    }
}

@media (min-width: 1920px) {
    /* .translate-x {
        flex: 1 0 23% !important;
    } */
    .translate-y {
        flex: 0 0 10%;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: right;
        overflow: hidden;
    }
}