/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "font-awesome";
@import "bootstrap";
html,
body {
    height: 100%;
    font-family: Roboto;
}

body {
    background: #393939;
}

.wrapper {
    width: 100%; // min-height: 100%;
    // overflow: hidden;
    transition: 0.5s;
}

.overflow-auto {
    overflow-y: auto !important;
}

#main-nav {
    background: #34495e;
}

#main-nav,
#branch {
    width: 100%;
    margin-left: 0;
    transition: 0.5s;
}

#health {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #333645;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-100%);
}

#health.toggle {
    transform: translateX(0);
}

#health.toggle~#branch,
#health.toggle~#main-nav {
    margin-left: 250px;
}


/* Background Colors */

.bg-white {
    background: #fff !important;
}

.bg-black {
    background: #555 !important;
    /* border-color: #fff !important; */
}

.bg-transparent {
    background: transparent !important;
}

.border-white {
    border-color: #fff !important;
}


/* ---------------------------- Icon Colors --------------------------------*/

.text-green {
    color: #3c763d;
}

.text-yellow {
    color: #8a6d3b;
}

.text-red {
    color: #a94442;
}

.text-black {
    color: #000;
}


/* Custom carousel x-axis */

.translate-x {
    flex: 0 0 98% !important;
    margin: 0 1% 0.5rem 1% !important;
    transition: 0.5s;
}


/* Custom Carousel of list-items */

.translate-y {
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}

.text-wrap {
    white-space: normal;
    overflow-wrap: break-word;
}


/* Footer */

#loading {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}


/* Media Queries */

@media (min-width: 576px) {}

@media (min-width: 768px) {
    #main-nav,
    #branch {
        margin-left: 250px;
        width: auto;
    }
    #health {
        transform: translateX(0);
    }
    #health.toggle {
        transform: translateX(-100%);
    }
    #health.toggle~#branch,
    #health.toggle~#main-nav {
        margin-left: 0;
    }
    .overflow-hidden {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .translate-y {
        flex: 0 0 30%;
    }
}

@media (min-width: 1200px) {
    .translate-x {
        flex: 0 0 48% !important;
    }
}

@media (min-width: 1440px) {
    .translate-x {
        flex: 0 0 31.33% !important;
        width: 31.33% !important;
    }
}

@media (min-width: 1920px) {
    .translate-y {
        flex: 0 0 15%;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: right;
    }
}