@font-face {
    font-family: Nokia;
    src: url('fonts/nokia/nokkok.ttf');
}

body {
    background: #333;
}


/* ---------------------------- Header --------------------------------*/

nav.navbar {/*
    box-shadow: 0 4px 8px #777;*/
    background: #292b2c !important;
}

nav.navbar h1 {
    color: #fff;
    text-transform: uppercase;
    /*font-family: Nokia;*/
    font-weight: 900;
}

/* ---------------------------- Carousel Item --------------------------------*/

.carousel-item{
    padding-bottom: 3rem;
}

/* ---------------------------- Card --------------------------------*/

.card {
    flex: 0 0 90%;
    margin: 5%;
    /*box-shadow: 0 4px 8px #777;*/
    border: 0;
}

.card-header h4{
    margin: 0;
    font-size: 1.6rem;
}

.card-text {
    font-size: 1.4em;
}

.card-footer{
    text-align: center;
}

.card-footer b{
    font-size: 1.2em;
}


/* ---------------------------- Card Header Background --------------------------------*/

.card-header-success {
    background: #4b77be !important;
    color: #fff;
}

.card-header-danger {
    background: #96281b !important;
    color: #fff;
}


/* ---------------------------- Card Wall Background --------------------------------*/

.card-wall-success {
    background: #d9edf7 !important;
    color: #31708f;
}

.card-wall-danger {
    background: #f2dede !important;
    color: #a94442;
}


/* ---------------------------- Icon Colors --------------------------------*/

.fa-check-circle {
    color: #3c763d;
}

.fa-warning {
    color: #8a6d3b;
}

.fa-times-circle {
    color: #a94442;
}

/* ---------------------------- Media Queries --------------------------------*/

@media screen and (min-width: 320px) {
    .display-4{
        font-size: 2.5em;
    }
}

@media screen and (min-width: 576px) {
    .card {
        flex: 0 0 90%;
        margin: 10px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 46%;
    }
}

@media screen and (min-width: 992px) {
    .card {
        flex: 0 0 29%;
    }
}

@media screen and (min-width: 1280px) {
    .card {
        flex: 0 0 23%;
    }
}

@media screen and (min-width: 1680px) {
    .card {
        flex: 0 0 18%;
    }
}