<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/index.css">

  </head>

  <body>
    <%= yield %>
    <script src="../../assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../assets/node_modules/chart.js/dist/Chart.min.js"></script>
  </body>
</html>
